[2013-08-09 15:17] guiled opened #9 "Hoa installed via composer called in console"
Today, it's not possible to call vendor/bin/hoa when Hoa is installed with composer.
This is because in Hoa has no idea that it is installed with composer.
It happens on a Debian (Squeeze and Wheezy), PHP5.4 or PHP5.5
composer is up to date

Fix for this problem, created by Hywan :
  #!/usr/bin/env php
  <?php

  require __DIR__ . '/../autoload.php';
  require __DIR__ . '/../hoa/core/Bin/Hoa.php';

[2013-08-14 14:08] #9 closed, assigned to nobody

[2013-10-18 18:26] nunofgs opened #13 "Autoloading issues"
[This new condition here](https://github.com/hoaproject/Core/commit/7f9ef90a3cce6cbf2e2ae82bca35d0ab8c28c554#diff-45a6fbbc0781424dd7c41d6df28a3b4eR335) makes hoa re-import classes using the `~` pattern, effectively breaking autoloading for other PHP projects (like [symfony1](https://github.com/LExpress/symfony1)).

I'm not entirely sure what it is doing, but commenting this out restores the origin

[2013-10-21 12:12] #13 closed, assigned to nobody

[2013-10-25 08:18] stephpy opened #14 "Be able to toggle activation of Exception Handler."
hi,

Point 1: At this moment, all libraries has dependency on `hoaproject/core`, itself has a exception handler which can have some conflicts with other exception handlers (symfony|(other fwk, i never tested) ...

Imagine user install any hoa library on his fwk, he may not want to install a new exception handler ...

Point 2: If you're agree with that, should it be activated by default ? Should th

[2013-10-25 08:20] stephpy opened #15 "Be able to toggle activation of Autoloading system."
hi,

Point 1: At this moment, all libraries has dependency on `hoaproject/core`, itself has a autoloading system and users may not want to have a Xth autoloading system activated.

Point 2: If you're agree with that, should it be activated by default ? Should this autoloading system be enabled on a full stack version of hoa ? (sohoa)

Thought ?

[2013-11-03 19:18] #15 closed, assigned to nobody

[2013-11-18 14:48] #14 closed, assigned to nobody

[2014-03-25 10:37] Hywan opened #23 "PHP5.3.3 compatibility"
`CallbackFilterIterator` exists since PHP5.4 (https://github.com/hoaproject/Core/blob/master/Consistency.php#L229).

[2014-03-25 14:11] #23 closed, assigned to Hywan

[2014-05-06 08:24] 1e1 opened #25 "Warning: fwrite() expects parameter 1 to be resource, boolean given in .../Hoa.central/Hoa/Core/Protocol.php on line 844"
As I didn't found Embryo.git, I start a Hoa project from scratch. I didn't use the "whereishoa" command.

My first lines are:

[code]

Then I throw an exception:

[code]

But if I change 'hoa://Data/Variable/Exception.log' to 'Exception.log', it works.
Where I have to map 'hoa://Data/Variable' to a real path?
Perhaps; you should add a thrown exception if an unregistered stream is used?

I have to

[2014-05-09 12:11] #25 closed, assigned to Hywan

[2014-05-09 12:26] 1e1 opened #28 "from()->setRoot() needs a ending '/' (Linux) or '\' (Windows)"
Usually, I never write the last directory separator when I set a path.
So this code fails:

[code]

The correct Hoa syntax is `-> setRoot('/home/agerlier/Documents/Libraries.hoa/')`
Perhaps, we should add an implicit ending directory separator in the Core?

[2014-05-10 13:26] 1e1 opened #30 "Set custom Hoa paths -> easy way?"
It should friendly create a method to redefine the main roots of the Hoa wrapper.
[code]

What do you think about something like `unresolve($data, $application=null, $hoa=null);`?

[2014-05-27 02:49] Metalaka opened #33 "Add some parameter keywords."
Hi,
I think it can be cool to add some parameter keywords like `:ds:` and `:rs:` (see [#29](https://github.com/hoaproject/Core/pull/29) for RS).

The goal is to avoid any long concatenation when setting parameters.

[2014-05-28 08:20] #28 closed, assigned to Hywan

[2014-07-07 07:23] Hywan opened #36 "Symbols misencoded with PHP5.4.*"
Let the following program:

[code]

With 5.4.24, we have:

[code]

With 5.7.0-dev (or other versions different of 5.4.[some specific versions]):

[code]

[2014-07-07 07:42] #36 closed, assigned to Hywan

[2014-07-08 17:45] Pierozi opened #37 "Protocol::_resolve"
In worker shell status, we can specify `Run` directory by `--run` option

[code]

assign `Hoa://Data/Variable/Run` seems doing messy in `resolve()` result.
unlike of `Hoa://Data` work well

like `Hoa\Worker\Run::find` use `hoa://Data/Variable/Run/`
worker cannot be find in path specify by `--run`

[2014-07-09 12:00] #37 closed, assigned to Hywan

[2014-07-25 14:28] Savageman opened #39 "Hint IDEs about class aliases to take advantage of autocompletion"
We could create a command to generate a file. Or include the file directly into the Core.

[2014-07-30 11:02] #33 closed, assigned to Hywan

[2014-08-22 08:06] Hywan opened #41 "Drop PHP5.3"
Hello :-),

As discussed on the ML, at Apex and on IRC, we are going to drop PHP5.3 in favor of PHP5.4 for the lowest required PHP version. This issue will report new elements and discussions.

[2014-08-22 08:22] Hywan opened #43 "Composer: PSR-4"
Hello :-),

Composer provides a PSR-4 autoloader since several months now. We didn't switch from PSR-0 to PSR-4 in `composer.json` files because we didn't know how many services are using the latest Composer version. I don't know more right now but I think we can say that we have waited enough time.

**Why will it help?**

Hoa's autoloader was already PSR-4. We have pointed out the lakes of PSR-0

[2014-08-28 06:03] Hywan opened #45 "resolve must return a path with a trailing DS only when it's a directory"
Please, see the discussion here https://github.com/hoaproject/Http/pull/4.

[2014-09-23 14:57] Hywan opened #49 "~0.0, the creepy guy"
Hello :-),

It appears that the `~0.0` requirement in some `composer.json` files and in some `README.md` files can afraid some people. We have two solutions:
1. replace `~0.0` by `~0.1` (which does not change anything for us…) in `README.md` files (in the “Installation” section),
2. replace `~0.0` by `~0.1` also in `composer.json` files.

Thoughts? /cc @hoaproject/hoackers

[2014-09-25 04:58] UFOMelkor opened #51 "Autoloading breaks HTMLPurifier"
I use PhpMetrics within a project and PhpMetrics has a dependency on hoa/core.

Today I added the HTMLPurifier to the project (using composer) and the following error appears:

[code]

The Stacktrace:

[code]

As you can see the Autoloading is broken because it now looks for `HTMLPurifier\Bootstrap` instead of `HTMLPurifier_Bootstrap`.

[2014-09-28 18:18] #51 closed, assigned to Hywan

[2014-11-05 09:44] Hywan opened #54 "Remove Hoa\Core\Consistency\ImportFilterIterator"
Since we require in PHP5.4, this is no longer necessary.

[2014-11-10 11:09] Hywan opened #57 "Support \U, \u, \L, \l, \E and \e in the zFormat"
Please, see point 5 of http://php.net/reference.pcre.pattern.differences. Consequently, we are not able to write something like: `s/-(.)/\u\1/` to transform `foo-bar` into `fooBar`. We have to implement it by ourselves.

  * [ ] `\U`,
  * [ ] `\u`,
  * [ ] `\L`,
  * [ ] `\l`,
  * [ ] `\E`,
  * [ ] `\e`.

Two locations: either in the zFormat or in `Hoa\Regex` (we would create a new “`preg_replace`”

[2014-11-13 08:00] Hywan opened #58 "Do we need to cache `extension_loaded` result?"
Several questions:
  1. does it impact performance?
  2. how does it impact performance?

Depending on these answers:
  3. should we introduce a workaround in `Hoa\Core\Consistency`?
  4. should we patch [php-src](https://github.com/php/php-src/) and [HHVM](https://github.com/facebook/hhvm/)?

Original discussion: https://github.com/hoaproject/Database/pull/19.

[2014-11-13 19:27] Hywan opened #59 "Use a trait for Hoa\Core\Event"
Could save a lot of line and avoid possible bugs :-).

[2014-11-18 15:38] stephpy opened #61 "Hoa\Core should NEVER edit php configuration."
We should avoid automatic definition of what we estimate as a good thing [like this](https://github.com/hoaproject/Core/blob/master/Core.php#L181-L188)

It should be a command which pilot user to edit its configuration to use good thinkgs (UTC as timezone, etc....)

This command could be part of Hoa\Core ?

Thought ?

[2014-12-09 15:01] #49 closed, assigned to Hywan

[2014-12-09 15:02] #41 closed, assigned to Hywan

[2014-12-09 21:41] Metalaka opened #65 "Hint IDEs about property."
Most of Hoa's `@var` tag in property phpDoc don't use the right syntax (according to [phpdoc.org](http://phpdoc.org/docs/latest/references/phpdoc/tags/var.html) & IDEs hints).
The class name shouldn't be written before the var type.

eg:
[code]
IDEs provide hints for `\Hoa\Core\Protocol`, but the property is an array...

[2014-12-10 09:24] #43 closed, assigned to Hywan

[2014-12-16 13:01] #54 closed, assigned to nobody

[2015-01-13 13:28] mikeSimonson opened #67 "hoa break when installed globaly"
Hi,

The main hoa file in the Bin folder does not require the autoload from composer properly.

Here is an example.
https://github.com/tomzx/php-semver-checker/blob/master/bin/php-semver-checker

[2015-01-13 13:59] Hywan commented on #67
@mikeSimonson How do you install Hoa? Can you me an example please because I am not able to reproduce the bug. As far as I can see, https://github.com/hoaproject/Core/blob/9fa825864a091bdb31cc4e53e086306abece558e/Bin/Hoa.php#L46-L52, Composer's autoloader is well-included :-/.

[2015-01-13 14:07] mikeSimonson commented on #67
I installed https://github.com/Halleck45/PhpMetrics/ globally with :
[code]
It installed hoa because it's a dependency.
But hoa is not working on it's own because it try to require the autoload.php as if it was installed in a project build with composer.
Here when installed globally the autolad.php is not in a vendor directory and it's one more level up in the directory structure.

If you look at

[2015-01-13 14:20] Hywan commented on #67
@mikeSimonson Hmm interesting. Could you make a PR?

[2015-01-21 08:09] #67 closed

[2015-01-23 05:03] evert opened #70 "The 'hoa' binary should not be installed with Core"
If the 'hoa' binary strictly depends on `Hoa\Console` to be installed, I feel it would be better if the binary came with `Hoa\Console`.

 Without `Hoa\Console` you basically end up with a broken binary in everybody's bin directory. Since `Hoa\Console` depends on `Hoa\Core` to work anyway, it would be more logical (in my head at least) that it ships with `Hoa\Console`.

[2015-01-23 09:53] Hywan commented on #70
That's a question I have since a long time. I am not comfortable with the idea of delivering a broken binary. The compromise I found is to log messages: https://github.com/hoaproject/Core/blob/1e621541baf81cae503c82afaf1a6f4f9e0243fd/composer.json#L32-L34 with `suggest` in `composer.json`. I wonder if this is possible to come with a Composer's plugin that install the `hoa` binary if all requiremen

[2015-01-23 10:09] Hywan commented on #70
/ping @jubianchi (as you asked on IRC)

[2015-01-23 16:17] evert commented on #70
I think the 'official' answer would be to create a separate package that distributes the binary and depends on all three packages.

But, if it were me, I wouldn't be fully sure if I would want to do that... it does reduce the visibility of the binary.

[2015-01-23 16:58] Hywan commented on #70
@evert Welcome in my dilema :-].

[2015-02-11 13:40] Hywan opened #72 "Add a `home` command to open http://hoa-project.net"
Like `brew home`.

[2015-03-10 18:53] th3fallen opened #77 "Setlocal issues in core"
https://github.com/hoaproject/Core/blob/master/Core.php#L173 is causing language issues over at OC is there  a possible workaround for this? we've found that commenting this line out resolves the issue with using non-ASCII Chars

Not sure the impact that could have in other areas though?

[2015-03-19 07:55] Hywan commented on #77
Related to https://github.com/hoaproject/Core/issues/61.

[2015-03-19 07:56] Hywan commented on #77
I am going to fix this next week maximum.

[2015-03-26 19:20] Hywan commented on #72
Useless.

[2015-03-26 19:20] #72 closed

[2015-04-07 13:18] th3fallen commented on #77
any updates here?

[2015-04-08 07:34] Hywan commented on #77
@th3fallen The `setlocale` has been introduced by @1e1 with https://github.com/hoaproject/Core/commit/9525930f01c734ac3dcec2d5aee6ee3e9f616023. What do you think? How to prevent the bug he mentionned?

[2015-04-13 06:53] #77 closed

[2015-05-29 08:55] Hywan opened #80 "PHP7 compatibility"
Hey :-),

PHP7 introduces some BC breaks and we have to track and fix them before end of June.
Here is the official list that changed: https://github.com/php/php-src/blob/master/UPGRADING.

How to track them?
  1. run `hoa test:run --all` often,
  2. run
[code]
until it results nothing,
  3. track some place where `BaseException` must be used instead of `Exception`,
  4. add retro-compatibility wi

[2015-05-29 09:04] Pierozi commented on #80
@Hywan what is concern about `BaseEngine`

[2015-05-29 09:05] Hywan commented on #80
@Pierozi Because with have an error handler. And it can receive a `BaseException`. Sorry, yes, it's a typo. Fixed.

[2015-05-29 09:06] Hywan opened #81 "`Exception::uncaught` can receive a `BaseException` in PHP7.0"
Related to https://github.com/hoaproject/Core/issues/80.

Quoting https://github.com/php/php-src/blob/7dcfdbbee431c93c52605e1df323d18e0c6088e9/UPGRADING#L323-L351:

[2015-05-29 09:06] Hywan opened #82 "Update `Consistency::isKeyword` for PHP7.0"
Related to https://github.com/hoaproject/Core/issues/80.

It could break some codes. This is the last things to do.

[2015-05-29 13:02] #81 closed

[2015-05-29 13:03] #82 closed

[2015-05-29 13:04] Hywan commented on #82
Fixed by #83.

[2015-05-29 13:14] #80 closed

[2015-06-24 10:47] Metalaka commented on #65
Fixed by `hoa devtools:cs` in [Hoa/Devtools/Resource/PHPCSFixer/Fixer/PhpdocVar.php](https://github.com/hoaproject/Devtools/blob/b6b8c8421a0d630a7c798e425f10048d8466080e/Resource/PHPCSFixer/Fixer/PhpdocVar.php)

[2015-06-24 10:47] #65 closed

[2015-06-25 14:45] Hywan commented on #65
Cool :+1:

[2015-07-05 12:42] Hywan opened #86 "Protocol: `stream_stat` is not very verbose when failing"
Will help https://github.com/fruux/sabre-katana/issues/277#issuecomment-118515310.

[2015-07-05 13:16] #86 closed

[2015-07-07 10:31] halfer opened #88 "Does Hoa Core need the "files" load approach in Composer?"
I'm using Propel 1 together with PhpMetrics in a project. The latter requires Hoa, which recently introduced an `\EngineException` class to emulate a class of the same name in PHP 7. Unfortunately this conflicts with a class of the same name in Propel, and a fatal error results.

What was strange for me was that the code that causes Hoa to load should have no reason to do so - PhpMetrics is a stan

[2015-07-07 12:03] Hywan commented on #88
Hello :-),

We need to load Hoa for at least the `hoa://` protocol, which is used by several projects to ensure consistency along migrations of their project, so I am not likely to remove the `files` property of the `composer.json` file. However, since PHP7 has introduced the `Throwable` interface, we can remove the code retro-implementing PHP7 features. I will do that right now, it's going to be

[2015-07-07 12:24] halfer commented on #88
Thanks @Hywan, that's splendid.

Yes, Propel 1 is quite old, and is shortly to be superceded by Propel 2, which is in alpha5 status presently. This will resolve the problem, since it will be fully namespaced.

[2015-07-07 12:53] Hywan commented on #88
@halfer Please, could you retry with `hoa/core: 2.*@dev`? If the problem is solved for you, then I will create a new snapshot.

[2015-07-07 13:04] halfer commented on #88
Great, works for me @Hywan! Thanks for your speedy assistance.

[2015-07-07 13:20] Hywan commented on #88
@halfer https://github.com/hoaproject/Core/releases/tag/2.15.07.07

[2015-07-07 14:55] halfer commented on #88
Will switch to that. :smile_cat:

[2015-07-07 16:52] Hywan commented on #88
@halfer: `hoa/dev: ~2.0` will do the trick naturally.

[2015-07-07 16:53] Hywan commented on #88
Sorry for this bug with Propel :-(.

[2015-07-07 20:30] evert commented on #70
Have you put any further thought towards this yet?

[2015-07-07 20:38] evert opened #90 "Hoa/Core errors when loaded twice"
In our scenario, we have a project that depends on Hoa\Bench.

We also have globally installed packages (`composer global`), in particular phpunit and other Hoa dependencies.

The `phpunit` binary is executed globally for our package. This means that there are two composer autoloaders active, each load a copy of `Hoa\Core`, even though the global one does not require it.

This causes this error:

[2015-07-08 14:29] Hywan commented on #70
Not yet. I will try to open a discussion about the split of `Hoa\Core` very soon. My plans seem correct. This will involve this PR.

[2015-07-08 14:30] Hywan commented on #90
Hello :-),

If you replace https://github.com/hoaproject/Core/blob/master/Core.php#L52 by a simple `return` statement, does it work?

I am not it's going to be the solution. Just testing stuff.

[2015-07-08 16:27] evert commented on #90
Confirmed to work for my use-case. Put that return statement a bit higher up though ;)

[2015-07-09 05:52] Hywan commented on #90
@evert Yup sorry, here https://github.com/hoaproject/Core/blob/df1f75e6a98d52b879bf36bc1ea8744433458f09/Core.php#L46.

So it works. Great. But an exit seems better since it shows a unexpected workflow or file load. What do you think is better? Being silent is… good for new comers but not good to make something clean. It's always the “strict vs. friendly” debate…

Please @hoaproject/hoackers, raise

[2015-07-09 07:13] harikt commented on #90
Actually why do you need to keep an exit or require in hoa itself ?
Why can't it be kept the responsibility of composer or other autoloaders to handle this ?

[2015-07-09 07:32] Hywan commented on #90
@harikt Because if Composer or another project sucks at loading correctly different dependencies (I am not blaming anyone, it just happens sometimes), the developper will not notice. This `exit` is bad but it shows that something wrong is happening. It is a guard. But it makes the user experience bad sometimes and people are blaming Hoa at the end… which is really bad for us. We are the good guys

[2015-07-09 07:35] harikt commented on #90
@Hywan not sure what you mean by composer not loading correctly.

Do you have any example to show the psr-0, psr-4 autoloaders are not working correctly?

[2015-07-09 07:40] Hywan commented on #90
See the usecase of @evert right above. It is possible to load the same file twice if present in two different locations (so it's not the same file but it contains the same content).

[2015-07-09 08:16] harikt commented on #90
Actually that is a good point. But I have a doubt.

I hope we are using autoloader to load than requiring ourselves.

1 ) Assuming Hoa\Core\Core is the class trying to load.
2 ) Autoloader checks if class is loaded or not and try to load from ( global / different ) path.
3 ) It loads the file
4 ) Now we don't need to care the location of the file it loads right ?

May be I am missing something. So

[2015-07-09 08:55] Hywan commented on #90
We load `Core.php` with the `files` Composer's property. So the `class_exists` is not used here.

[2015-07-09 09:59] harikt commented on #90
Thank you for the clarification @Hywan .

[2015-07-09 10:01] Hywan commented on #90
It's very close to what we talked about here: https://github.com/composer/composer/pull/3794.

[2015-07-09 16:03] evert commented on #90
Wouldn't it be better though if Core is only loaded if it's actually used? This might be a larger change, but do you really need it? Perhaps some of it's functionality can be moved to functions that can get optionally included, on demand.

[2015-07-09 16:24] harikt commented on #90
I agree with @evert here.

It seems to me ( blame me I don't really know if that breaks anything )  that we can include a file which have the functions defined below https://github.com/hoaproject/Core/blob/df1f75e6a98d52b879bf36bc1ea8744433458f09/Core.php#L474 .

And the class `Core` is just a psr-4  classloader. So I believe that change bring one thing, and we can make sure it is not loaded any w

[2015-07-12 18:35] jubianchi commented on #70
@Hywan Here are my thoughts (based on what I personnally think and on the feedbacks I got from several users of other libraries I contribute to) about this issue :

* The fact that libraries provide some commands accessible through the `hoa` binary makes them kind of dependent to `hoa/console`. `hoa/core` in particular is where the dependency exists. This is some kind of optional dependency becaus

[2015-07-13 05:45] Hywan commented on #90
We heavily rely on the `hoa://` protocol and we need to register it automatically, so the `files` Composer's property is required. With the split of `Hoa\Core`, I am planning to create `Hoa/Protocol` and to `files` this library instead of the whole `Hoa\Core` code.

[2015-07-13 05:48] Hywan commented on #70
So, what about putting `hoa` CLI tools into [`Hoa\Devtools`](http://central.hoa-project.net/Resource/Library/Devtools)?

[2015-07-13 06:51] jubianchi commented on #70
the hoa commands are not all onle related to dev ?

[2015-07-13 06:58] Hywan commented on #70
Agree. So, maybe we have to go through `hoa/cli`? I don't like the name though. Any better idea? It's like an empty “package”. Do we keep the same naming for these packages?

Please @hoaproject/hoackers, vote!

[2015-07-13 07:05] marmotz commented on #70
hoa/cli is a common name and everybody know what this package do only with the name.

"It's a cli for hoa"

So, :+1 @jubianchi

[2015-07-13 07:33] Hywan commented on #70
Ok. Any volunteer? /cc @hoaproject/hoackers

[2015-07-13 13:21] #88 closed

[2015-07-13 13:24] jubianchi commented on #70
@Hywan I'm on it ;)

[2015-07-13 13:24] Hywan commented on #70
@jubianchi Perfect :-). Are you a commiter to create the new repository? Please, come on IRC to discuss about that.

[2015-07-13 13:35] jubianchi commented on #70
<img width="561" alt="capture d ecran 2015-07-13 a 15 34 40" src="https://cloud.githubusercontent.com/assets/327237/8650691/c2e2689a-2974-11e5-913f-bcc5ff1359b6.png">

I'm coming on IRC right now ;)

[2015-07-13 13:51] jubianchi commented on #70
Feedbacks welcome: https://github.com/jubianchi/hoaproject-cli/

[2015-07-14 06:02] Hywan commented on #39
Close in favor of hoaproject/Devtools#6.

[2015-07-14 06:02] #39 closed

[2015-07-15 12:27] #70 closed

[2015-07-15 12:27] Hywan commented on #70
Done. [`Hoa\Cli`](http://central.hoa-project.net/Resource/Library/Cli).

[2015-07-15 12:40] jubianchi commented on #70
:+1:

[2015-07-15 17:32] evert commented on #70
awesome!

[2015-07-16 16:49] halfer commented on #88
Thanks for coming over to Stack Overflow to report the fix. I've added an extra bounty to your answer, to get you started if you fancy asking/answering more questions.

[2015-07-17 09:52] Hywan commented on #88
@halfer Thanks!

[2015-07-17 12:39] Metalaka commented on #88
So why not add ` && false === interface_exists('Throwable', false)` on https://github.com/hoaproject/Core/blob/master/Consistency.php#L944 ?

[2015-07-21 06:10] Hywan commented on #88
Because it forces other projects to be compatible with incoming PHP7 versions?

[2015-07-21 11:10] Metalaka commented on #88
But if an other project do the same as you did it will result a conflict, since both only check the PHP version.

[2015-07-21 12:44] Hywan commented on #88
@Metalaka Correct :wink:. Who want to make a PR?

[2015-08-14 14:46] #45 closed

[2015-09-10 22:46] Metalaka commented on #58
Since 5.6.0, php-src's opcache should do the job.
Source: [php-src/ext/opcache/Optimizer/pass1_5.c](https://github.com/php/php-src/blob/ef1b588f6a39bcc2c0d5fad9f2094bb011aeaf0b/ext/opcache/Optimizer/pass1_5.c#L426-508),  [`extension_loaded` function](https://github.com/php/php-src/blob/d5b78cec641173f3e37b9bad1e575fb5b646196c/Zend/zend_builtin_functions.c#L2676).

Moreover the cost of calling a fu

[2015-09-11 13:25] #58 closed

[2015-09-11 13:25] Hywan commented on #58
Thanks @Metalaka. The more code we have, the more to maintain and to test. In this case, it does not make a huge difference, so we can close it!

[2015-10-05 20:25] jchamberlain opened #95 "Hoa shouldn't initialize before being used"
I'm including `hoa/math` in my project so that I can evaluate arithmetic expressions (which is great, btw!). Unfortunately, this means Hoa's `Core.php` automatically initializes, unexpectedly polluting the global namespace and running code that can easily throw errors if run at the wrong time. Examples:

- A couple dozen constants are defined across multiple files in the global namespace. None hav

[2015-10-06 22:56] jubianchi commented on #95
@jchamberlain I know the way the Core is initialized is not optimal for every use-cases but here are some thnigs you can test:

* in the file where you require the composer autloader (i.e `vendor/autoload.php`) just require your own bootstrap (or the one from Laravel) before composer's autoloader so that your function will be defined first
* `Hoa/Core` will always check if functions exist before d

[2015-10-06 23:44] jchamberlain commented on #95
Thanks for your response.
* Laravel relies on Composer (and uses the `files` array to load its own helpers), so I can't get it to run before Hoa. (Unless there's a way to change dependency order in Composer?)
* Hoa, presumably because it's lower in the alphabet than Laravel, defines its functions first, so checking `function_exists()` doesn't help.
* I don't have any complaints with mb_internal_en

[2015-10-07 07:35] Hywan commented on #95
Few years ago, having `Hoa\Core` as a small set of files were logical and better for performances. Today, this is no longer the case (PHP is faster, OS I/O is faster, HDD is faster etc.). I am currently splitting `Hoa\Core` into `Hoa\Event`, `Hoa\Consistency` etc. and just one or two of them will be required all the time (like `Hoa\Protocol` —for `hoa://`— and `Hoa\Consistency` —for consistency— f

[2015-10-07 07:58] jubianchi commented on #95
:+1: with @Hywan seems a good plan :)

[2015-10-07 16:08] jchamberlain commented on #95
@Hwyan, that sounds good!

[2015-10-13 04:43] #95 closed

[2015-10-13 05:18] Hywan opened #96 "[meta] Split the core"
### History

The core gathers several thin layers into a single library for performance reasons. Let me explain it shortly. Parsing time is not very costly compared to I/O: Accessing to a file, opening it and reading it. The core aimed at putting the minimum always needed codes into small files, in order to reduce this I/O time. Since recent PHP versions and recent I/O progresses (SSD, kernel, FS…

[2015-10-13 05:18] Hywan commented on #96
Thoughts @hoaproject/hoackers?

[2015-10-13 05:26] Hywan commented on #95
@jchamberlain Please, see https://github.com/hoaproject/Core/issues/96.

[2015-10-13 07:28] Jir4 commented on #96
And what happens to `Hoa\Core\Data` ? If i understand, it is kept in `Hoa\Core`, why ?

[2015-10-13 08:17] Hywan commented on #96
@Jir4 Because I am not sure about what to do with this one so far.

[2015-10-13 16:59] osaris commented on #96
That make sense, it would be very interesting to do some benchmarks before/after core splitting to check the real difference on performances (not saying that it'll decrease performances but numbers/data are interesting).

[2015-10-14 08:45] Jir4 commented on #96
@osaris  :+1:

[2015-10-14 09:55] Hywan opened #97 "[meta] Split the core, next"
After #96, we must continue to split the core. Goal: Remove `Hoa\Core`.
We have to split `Hoa\Core\Parameter` and `Hoa\Core\Data`, and also `Hoa\Core\Core`. What is the strategy here? We must (i) find namings and (ii) find if they must exist (if they have a future). What do you think?

[2015-10-14 09:56] Hywan commented on #96
@osaris Also, something else must be quantified but this is really hard: The psychological impact of having a “core” for a library. This is something really important. Several people stops at this. The goal is to really continue to split. Please, see https://github.com/hoaproject/Core/issues/97.

[2015-11-11 07:55] Hywan commented on #96
I started to split `Hoa\Core\Exception` and `Hoa\Core\Event` yesterday night.

[2015-11-13 08:01] Hywan commented on #96
`Hoa\Event` is almost over.
`Hoa\Exception` is under splitting (the repositories have been created).

[2015-11-13 14:00] #59 closed

[2015-11-20 06:23] Hywan commented on #96
I am starting to update libraries with `Hoa\Event` and `Hoa\Exception`.

[2015-11-20 07:01] Hywan commented on #96
First run. I will continue today if I have time.

[2015-11-20 18:14] Metalaka commented on #96
@Hywan Sorry but most of your PR introduce a parse error: https://3v4l.org/vB5Dt

[code]

[2015-11-20 18:17] Metalaka commented on #96
Your should probably remove the `use` statement.

[code]

[2015-11-21 16:22] Hywan commented on #96
Damned, I tested it on PHP7-nightly and it worked :-/.

[2015-11-23 07:54] Hywan commented on #96
@Metalaka Fixed.

[2015-11-23 12:36] Metalaka commented on #96
Is it always possible to use flex entity ?
[code]

[2015-11-23 14:26] Hywan commented on #96
@Metalaka I think so.

[2015-11-23 18:19] Metalaka commented on #96
@Hywan flex entity seem to work at least for `Hoa\Database`.

[2015-11-23 20:32] Hywan commented on #96
@Metalaka Hmm, yes, I shoud have update with the shortest name. Do you think this is required?

[2015-11-23 20:49] Hywan commented on #96
(anyway, I started to update the code).

[2015-11-23 20:55] Metalaka commented on #96
The most important is do the same things everywhere (alias or not alias).

[2015-11-23 21:01] Hywan commented on #96
@Metalaka We use the shortest everywhere. I started to move every library to `Hoa\Event`. I am updating this issue too.

[2015-11-23 21:38] Hywan commented on #96
All libraries have been updated to `Hoa\Event`.

[2015-11-23 21:53] Hywan commented on #96
All libraries have been updated to `Hoa\Exception` (final).

[2015-11-23 22:36] Hywan commented on #96
[`Hoa\Consistency`](https://github.com/hoaproject/Consistency) has been created. I will move the code tomorrow. Hope to start test suites tomorrow too.

[2015-12-03 10:09] Hywan commented on #96
`Hoa\Consistency` is OK. Now I will start updating other libraries.

[2015-12-08 10:57] Hywan commented on #97
* `Hoa\Core\Data` can be moved to `Hoa\Xyl`, the only place where we use it.
* `Hoa\Core\Core` can be removed totally.
* `Hoa\Core\Parameter` needs a better name. Any idea @hoaproject/hoackers?

[2015-12-09 11:49] Pierozi commented on #97
`Hoa\Core\Parameter` to `Hoa\Core\Config` or `Hoa\Core\Constant` because roughly its value will not be changed after it's defined.

[2015-12-09 13:52] Jir4 commented on #97
i disagree, `Hoa\Core\Parameter` didn't just set constant. There's an interface used in several other rep.

[2015-12-13 22:30] Hywan commented on #96
All tests are green for `Hoa\Protocol` split. Now I have to write the test suite of `Hoa\Protocol` but the integration of the new library is fine!

[2016-01-06 07:05] Hywan commented on #96
Everything is OK!
I am starting #97.

[2016-01-06 07:12] Hywan commented on #97
Back to #96 for a more comprehensive list of tasks.

[2016-01-06 07:12] #97 closed

[2016-01-06 07:19] Hywan commented on #96
@hoaproject/hoackers Please, I need your help!
1. What about `Hoa\Zformat` instead of `Hoa\Parameter`? Do you think this is better?
2. What to do with `Hoa\Core`? See the “Next steps” Section in https://github.com/hoaproject/Core/issues/96#issue-111106258 for the questions.

Thanks!

[2016-01-06 08:17] Jir4 commented on #96
1. Why ZFormat ? Meaning ?

2. I think we should delete `Hoa\Core`, the `Core` name scares many users imo, they just wanna use a specific lib but the `Core` dependancy seems imply that the lib need many others to work

[2016-01-06 08:28] Hywan commented on #96
@Jir4
1. zFormat because this is the format we use to express parameters.
2. Yes, we will “remove” it, but for legacy code, it must still be present as a repository. We can mark it as deprecated and keep the code as is. Thoughts?

[2016-01-06 08:33] Jir4 commented on #96
1. Ok so :+1:
2. So we keep it just to avoid a BC break and we will remove it when another BC break occurred ?

[2016-01-06 08:38] Hywan commented on #96
@Jir4 We will remove it when we will no longer have any downloads. Until we have downloads, we must keep the repository live :-].

[2016-01-06 08:42] CircleCode commented on #96
@Hywan the downside of this approach is that we will have downloads (at least for CI systems) so long as it will be available…
IMHO we should announce an estimated end-of-life

[2016-01-06 08:55] Hywan commented on #96
@CircleCode Hmm… Every year, we can clean deprecated repositories? So far, we only have `Hoa\String` (see git.hoa-project.net). How long is enought?

[2016-01-06 09:09] Jir4 commented on #96
Several month but not years, we just have to let the time to users to update their legacy code.

[2016-01-09 07:05] Hywan commented on #96
[code]
`Hoa\Zformat` has been created. I am removing `hoa/core` from everywhere :-).

[2016-01-09 07:43] Hywan commented on #96
All libraries are updated. Now I am running `devtools:cs` to update the year.

[2016-01-09 08:13] Hywan commented on #96
Done.

[2016-01-09 08:14] Hywan commented on #96
Next step is to merge everything and create new snapshots for all libraries. I don't have enough time to do it well if something failed right now. Let see tonight or tomorrow!

[2016-01-11 10:11] Hywan commented on #96
Done \o/.
Congratulations to everyone :fireworks: :tada: :balloon:!!

[2016-01-11 10:11] #96 closed

[2016-01-11 10:26] Jir4 commented on #96
:+1:

[2016-01-11 12:16] Hywan commented on #96
:sweat_smile:

[2016-01-11 12:36] 1e1 commented on #96
👏
Great job!
I've just read the discussion, do you know what you earn by registering `hoa://` in Composer? For projects like the official website, Rulerz, some Liip projects…

[2016-01-11 12:49] Hywan commented on #96
@1e1 What we earn? I don't understand.

[2016-01-11 13:29] Jir4 commented on #96
I suppose that he speak about performance

[2016-01-11 13:30] Hywan commented on #96
That's very light. Let me try a small benchmark.

[2016-01-11 13:47] 1e1 commented on #96
Yeap! (Sorry)

[2016-01-11 13:51] Hywan commented on #96
### tl;dr

Here is small benchmark result when loading Hoa (because we have 1 require autoloaded file):

| vs | Time (for 1000 runs) | Memory |
| --- | --- | --- |
| `Hoa\Core` | 18.084s | 335408b |
| `Hoa\Consistency` | 15.959s | 56744b |
| Gain | **11.751%** |  **83.082%** |

### Time

First script `/tmp/a.sh`:

[code]

Second script `/tmp/b.sh`:

[code]

Time for `time`:

[code]

That's an impr

[2016-01-12 13:47] Hywan commented on #95
Problem solved since Hoa\Core has been split.

[2016-01-12 17:45] ahungry commented on #90
This is broken when using HOA (2.0) under Symfony 2.8+ as a composer dependency (the Sensio installer for building the app/bootstrap.php.cache file will terminate early due to the HOA exit call).

I'm guessing it's because it see's 'HOA' defined more than once, as it gets redefined as the composer process continues to run.

I agree with adding a 'return', not an exit, or at the very least throwing

[2016-01-13 07:19] Hywan commented on #90
Hoa/Core has been split, see http://blog.hoa-project.net/posts/36-the-nucleus-releases-serie.html.

Please, can you test with `hoa/websocket` `~3.0`. I am guessing the issue will still be present. There was no BC break here as far as I know @ahungry.

What the `app/bootstrap.php.cache` file?

[2016-01-13 14:26] Hywan commented on #90
Actually, we are now throwing an exception. No more `exit`. See https://github.com/hoaproject/Consistency/blob/c7919e409ca68858f8cceadb7565b9f622575249/Prelude.php#L42-L44.

[2016-01-13 14:26] #90 closed

[2016-01-13 14:30] harikt commented on #90
@Hywan question why does it actually need the exception.. Isn't it can be dealt with composer?

May be you are providing the whole library to be downloaded without composer ?

[2016-01-13 14:32] harikt commented on #90
@Hywan never mind you have answered earlier to my same question :) .

Sorry for the trouble. Just got the mail and was checking :) .

[2016-01-13 14:32] Hywan commented on #90
No problem :-]. We are no longer checking if Hoa exists or not. We just let PHP cries out. We are just checking if Hoa can run now.

[2016-01-13 14:58] takeit commented on #90
I'm getting this error now, instead of `Hoa main file (Core.php) must be included once.`

[code]

[2016-01-13 15:38] Hywan commented on #90
@takeit Can I see you `composer.json` please?

[2016-01-13 15:38] Hywan commented on #90
@takeit There is a conflict between some versions. Someone on IRC just came with the same error.

[2016-01-13 17:30] titolendable commented on #90
I am currently experiencing the same error reported by @takeit

Here is a list of all the Hoa packages I am using on my Symfony 2.8 project:

hoa/compiler                                    2.15.10.29            The Hoa\Compiler library.
hoa/consistency                                 1.16.01.11            The Hoa\Consistency library.
hoa/core                                        2.15.11.09

[2016-01-13 17:47] harikt commented on #90
@titolendable how about edit `vendor/hoa/protocol/Wrapper.php` line [580](https://github.com/hoaproject/Protocol/blob/master/Wrapper.php#L580) with

[code]

It may be just a temporary fix until @Hywan comes up with something.

[2016-01-13 17:51] titolendable commented on #90
@harikt indeed that solves the problem, but I'd say that it is not very efficient, seems to me that the file is being loaded several times, that's why we are getting the problems in the first place, something that needs to be addressed. Let's wait for a fix to be released.

[2016-01-13 17:58] harikt commented on #90
@titolendable sure. It probably need a require_once and that should solve. But I am unsure about the whole working.

[2016-01-13 18:03] titolendable commented on #90
@harikt many thanks

[2016-01-14 08:05] Hywan commented on #90
Actually, your dependencies are wrong. Yes, we still have “unstable” libraries marked as `0.*`, and it's annoying. We are working hard on this. However, you should have:

[code]

Can I see you `composer.json` file please?

[2016-01-14 08:06] Hywan commented on #90
Running `composer update` creates this issue. You have to update your depdendencies manually (simply bump the `x` if > 0) and then run `composer update`.

[2016-01-14 08:07] Hywan commented on #90
@harikt Your proposal, while potentially correct, creates another issue. If the `hoa://` is registered twice, it means that `hoa/core` is still present and it must not :-).

[2016-01-14 08:44] takeit commented on #90
hey @Hywan  btw this is what I have in composer:

[code]

[2016-01-14 08:52] harikt commented on #90
Hey @Hywan yes may be ... I was just figuring out via the error message :) .

@takeit what you have provided is package information. If possible could you paste the exact composer.json file in the root of your repo?

So we can see how the library versions are mentioned in

[code]

etc. Thank you.

[2016-01-14 09:31] takeit commented on #90
Actually I require this lib: [halleck45/phpmetrics](https://github.com/Halleck45/PhpMetrics) (`"halleck45/phpmetrics": ">=1.2.0"`) and its causing mentioned by me issue.

I see this library requires `"hoa/ruler": "~1.0",` See https://github.com/Halleck45/PhpMetrics/blob/master/composer.json#L36

[2016-01-14 09:51] Hywan commented on #90
Yes, we have a fail in our dependencies because of `0.*` versions. phpmetrics should require `hoa/ruler` `~2.0` but it will drop PHP5.4. Or, it musts add constraints, sorry for that.

[2016-01-14 09:51] Hywan commented on #90
See https://github.com/Halleck45/PhpMetrics/issues/173.

[2016-01-14 10:31] Hywan commented on #90
Please, see https://github.com/hoaproject/Central/issues/32.

[2016-01-14 14:56] YnievesDotNet opened #100 "I'm getting this error *"Hoa main file (Core.php) must be included once."*"
How I can fix this??

[2016-01-14 15:10] Jir4 commented on #100
It's related to hoaproject/Central#32

[2016-01-14 16:13] Hywan commented on #100
Actually, I am not sure. @YnievesDotNet What are your dependencies?

[2016-01-14 16:45] YnievesDotNet commented on #100
"hoa/cli": "~1.0",
"hoa/websocket": "~2.0"

[2016-01-14 21:46] Hywan commented on #90
@takeit Now it's fixed. Just run `composer update` or `composer install` and everything will be fine :-).

[2016-01-14 22:42] Hywan commented on #100
@YnievesDotNet Can you retry now please?

[2016-01-15 09:43] takeit commented on #90
@Hywan it works fine now. Thanks a lot!

[2016-01-15 16:43] YnievesDotNet commented on #100
i test now

El 14-ene-16 a las 5:42 PM, Ivan Enderlin escribió:

##

Yoinier Hernandez Nieves.
CEO YnievesDotNet
Tel: +53 3139 2210
Cel: +53 5347 1184

[2016-01-15 17:06] YnievesDotNet commented on #100
now run fine, thanks.

[2016-01-15 17:06] #100 closed, assigned to Jir4

[2016-01-16 07:11] Hywan commented on #100
@Jir4 You were right!

[2016-02-01 14:44] Hywan commented on #57
This issue was moved to hoaproject/Cli#13

[2016-02-01 14:44] #57 closed

[2016-02-01 14:50] Jir4 commented on #61
Solved by the core split isn't it ?

[2016-02-01 14:51] Hywan commented on #61
Yup!

[2016-02-01 14:51] #61 closed

[2016-02-01 14:51] Hywan commented on #61
Good catch :+1:

[2016-02-01 14:52] Hywan commented on #61
So far, the prelude does not change `mb_*` configuration: https://github.com/hoaproject/Consistency/blob/7656b971a8248a8d314ed0c5bb0668936438f62a/Prelude.php.

[2016-02-01 14:54] Jir4 commented on #61
I checked it before posting ^^

[2016-02-01 14:54] Hywan commented on #61
Just for the record and for @stephpy :-).

[2016-02-01 14:55] Jir4 commented on #61
:+1:

[2016-09-29 15:39] vonglasow commented on #30
@Hywan can we close this issue as Hoa\Core is no longer maintained ?

[2016-09-30 08:54] Hywan commented on #30
Sure!
@1e1 If this issue is still valid with [the `Hoa\Protocol` library](https://github.com/hoaproject/Protocol), please, reopen it there.

[2016-09-30 08:54] #30 closed

[2017-08-07 20:29] Grummfy opened #103 "mark as deprecated"
hello,
I think we need to say in the readme that this is deprecated and on packagist https://packagist.org/packages/hoa/core too.

what do you think on that?

[2017-08-08 07:12] Hywan commented on #103
Hello :-),

That's an excellent idea.

The `README.md` already has a section for that, see https://github.com/hoaproject/Core#warning.
The package has been marked as abandonned on Packagist, https://packagist.org/packages/hoa/core, and now suggests `hoa/consistency` instead. That's not totally true, but it is the closest in term of goals.

[2017-08-08 07:12] #103 closed, assigned to Hywan